body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.container {
  position: relative;
  margin: 10px;
  border: 2px solid;
  min-height: 100%;
  height: 100%;
  width: 70%;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 3px 3px rgb(76, 69, 69);
}
aside {
  color: aliceblue;
  background: #080808;
  float: left;
  width: 30%;
  h1 {
    font-size: xx-large;
  }
}

#img {
  margin-top: 25px;
  margin-left: 50px;
  height: 150px;
  width: 150px;
  border-radius: 70px;
}
.heading {
  color: black;
  background: rgb(138, 137, 137);
  border-radius: 3px;
  width: 200px;
  margin-left: -30px;
  display: flex;
  justify-content: center;
}
#contact {
  margin-left: 70px;
  i {
    padding-right: 3px;
  }
}
#Skills {
  margin-left: 70px;
  margin-top: 40px;

  ul {
    margin-top: -10px;
    margin-left: -20px;
  }
}
#Languages {
  margin-left: 70px;
  margin-top: 40px;
  ul {
    margin-left: -20px;
  }
  li {
    list-style-type: none;
  }
}
#Award {
  margin-left: 70px;
  margin-top: 40px;
  h2 {
    font-style: oblique;
  }
  span {
    display: block;
  }
}
main {
  display: flex;
  flex-direction: column;
}
#info {
  margin-top: 20px;
  padding-left: 100px;
}
#info h1 {
  align-items: center;
  font-size: 40px;
}
#info h3 {
  transform: translateY(-20px);
}
#about {
  margin-left: 40px;
}
#aboutme {
  padding-right: 20px;
  max-width: 50px;
  word-wrap: break-word;
}
#experience {
  margin-left: 40px;

  span {
    padding-left: 30px;
  }
}
.job-des h2,
p:first-of-type {
  display: block;
  margin: 0;
}
#education {
  margin-left: 40px;
}

#btn {
  padding: 2%;
  display: flex;
  justify-content: center;
  width: 50%;
  align-items: center;
}
button {
  border-radius: 5px;
  height: 60px;
  width: 100%;
  margin-left: 20px;
  background-color: #8a8989;
  color: white;
  font-size: 20px;
  box-shadow: 2px 2px rgb(82, 82, 82);
}
button:hover {
  background-color: #b8b4b4;
  transform: scale(0.95);
}
button:active {
  transform: scale(0.95);
  background-color: rgb(250, 249, 251);
  color: black;
}
.hide {
  display: none;
}
@media print {
  #btn {
    display: none;
  }
}

@media (max-width: 786px) {
  .container {
    flex-direction: column;
  }
  aside,
  main {
    width: 100%;
  }
}
